{% load shylink %}

<!--
    DEBUG:
    
    {{ visits.0|safe }}
    
    -->

    {% for visit in visits%}
    {%if visit.customVariables.1.customVariableValue1 == session_key %}
    <div class="analytics analytics-self">
    <div class="widget-content">
    
    <p>
    <span class="analytics-titlebar"> spion.you &gt; </span>
    On {{ visit.serverDatePrettyFirstAction }} at {{ visit.serverTimePrettyFirstAction }} you, from {{ visit.country }}, using {{ visit.browserName }} on {{ visit.operatingSystem }} visit the site for {{ visit.visitDurationPretty }}.</p>
    
    <p>
    Your screen is set to {{ visit.resolution }}.
    {% if visit.pluginsIcons %}You have installed:
    {% for plugin in visit.pluginsIcons %}{{ plugin.pluginName }}{% if forloop.last %}.{% elif forloop.revcounter0 == 1 %} and {% else %}, {% endif %}
    {% endfor %}
    {% endif %}
    </p>
    
    {% if visit.referrerName %}
    <p>
    You come from <a href="{{ visit.referrerUrl }}">{{ visit.referrerName }}</a>
    {% if visit.referrerKeyword %}, searching with the keywords «{{ visit.referrerKeyword }}»{% endif %}.
    </p>
    {% endif %}
    
    <p>
    You visit 
    {% for action in visit.actionDetails %}
    <a href="{{ action.url }}" title={{ action.pageTitle }}>{{ action.url|shylink|safe }}</a> for {{ action.timeSpentPretty }}{% if forloop.last %}.{% elif forloop.revcounter0 == 1 %} and {% else %}, {% endif %}
    {% endfor %}
    </p>
    </div>
    </div>
    
    
    {%else%}
    
    
    <div class="analytics"> {# even numbers #}
    <div class="widget-content">

    <p>
    <span class="analytics-titlebar"> spion.you &gt; </span>
        On {{ visit.serverDatePrettyFirstAction }} at {{ visit.serverTimePrettyFirstAction }} someone from {{ visit.country }} using {{ visit.browserName }} on {{ visit.operatingSystem }} visits the site for {{ visit.visitDurationPretty }}.</p>

        <p>
            Their screen is set to {{ visit.resolution }}.
            {% if visit.pluginsIcons %}They have installed:
              {% for plugin in visit.pluginsIcons %}{{ plugin.pluginName }}{% if forloop.last %}.{% elif forloop.revcounter0 == 1 %} and {% else %}, {% endif %}
              {% endfor %}
            {% endif %}
        </p>

        {% if visit.referrerName %}
        <p>
            They come from <a href="{{ visit.referrerUrl }}">{{ visit.referrerName }}</a>
            {% if visit.referrerKeyword %}, searching with the keywords «{{ visit.referrerKeyword }}»{% endif %}.
        </p>
        {% endif %}

        <p>
            They visit 
            {% for action in visit.actionDetails %}
            <a href="{{ action.url }}" title={{ action.pageTitle }}>{{ action.url|shylink|safe }}</a> for {{ action.timeSpentPretty }}{% if forloop.last %}.{% elif forloop.revcounter0 == 1 %} and {% else %}, {% endif %}
            {% endfor %}
        </p>

    </div>
</div>
{%endif%}

    {% endfor %}
    
