{% extends 'base.html' %}
{% load md %}
{% load fs %}
{% block content %}

<section data-sizex="6">
{{long_description.description|md}}
</section>

{% for o in organisations %}
<section class="profile" data-sizex="2" data-sort="{{ forloop.counter0|add:forloop.counter0|add:1 }}">
<div class="titlebar">
Organisation</a>
</div>
<div class="widget-content">
<h1>{{ o.name }},</h1>
<h1>{{ o.location }}</h1>

<img class="about_logo" src="{{MEDIA_URL}}{{o.logo}}" alt="Logo of {{o.name}}"/>

</div>
</section>
{% endfor %}

{% endblock %}

