{% load rand %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SPION: Security and Privacy in Online Social Networks — {{ title }}</title>

    <meta property="og:image" content="http://spion.me/static/social-preview.png"/>
    <meta property="og:site_name" content="SPION: Privacy and Security in Online Social Networks"/>
    <meta property="og:description"
              content="SPION: Privacy and Security in Online Social Networks."/>
    <meta property="fb:admins" content="1488294875"/>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    
    {% if COMPRESS_ENABLED %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}style.less">
    {% endcompress %}
    {% else %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    {% endif%}
    <style>
        #fond {
            background: url('{{ STATIC_URL }}{% block backgroundimage %}{{ BACKGROUND_IMAGE }}{% endblock %}');
        }
    </style>
    <script>
    var PIWIK_URL = '{{ PIWIK_PATH }}';
    var PIWIK_SITE_ID = {{ PIWIK_SITE_ID }};
    var SESSION_KEY = '{{session_key}}' ;
    </script>
    {% compress js %}
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.masonry.js"></script>
    {% endcompress %}
    <script src="{{ PIWIK_PATH }}piwik.js"> </script>
    <script src="{{ STATIC_URL }}spion.js"> </script>
</head>
<body>

<div id="fond">
&nbsp;
</div>

{% block header %}
<!--   <section class="widget-content header" data-sizex="4"> -->
<div id="site-header">
    <section class="logo-tagline-together" data-sizex="3">
        <div id="logo-box">
            <a href="{% url spion.spion_app.views.index %}">
            </a>
                <object type="image/svg+xml" data="{{ STATIC_URL }}logos/SPIONlogoblack.svg" width="120px" height="46px">
                    <img src="{{ STATIC_URL }}logos/SPIONlogoblack.png" width="120px" height="46px">
                </object>
        </div>
        <h1 class="tagline"><div>Security and Privacy </div><div>in Online Social Networks</div></h1>
    </section> 
    
    <section class="logo-tagline-together" id="spy-kit-logo" data-sizex="2">
        <a href="{% url spion.spy_kit.views.index %}">
            <img src="{{ STATIC_URL }}logos/SPYKIT-172.png" width="172px" height="40px" />
        </a>
    </section> 
    
    <section id="site-navigation" data-sizex="3">
        
        <div class="widget-content">
            <span class="label about">
                <a href="{% url spion.spion_app.views.about %}">About</a>
            </span>
            <span class="label publication">
                <a href="{% url spion.spion_app.views.publications %}">Publications</a>
            </span>
            <span class="label work_package">
                <a href="{% url spion.spion_app.views.work_packages %}">Workpackages</a>
            </span>
            <span class="label researcher">
                <a href="{% url spion.spion_app.views.profiles %}">Researchers</a>
            </span>
            <span class="label advisor">
                <a href="{% url spion.spion_app.views.partners %}">Advisory Group</a>
            </span>
            <span class="label news">
                <a href="{% url spion.spion_app.views.newsitems %}">Announcements</a>
            </span>
        </div>
    </section>
    
</div>
<!--   </section> -->
{% endblock %}

<div id="content-wrapper">
{% block content %}

{% endblock %}

    <section class="footer to_mason" data-sizex="4">
        <div id="funder-box">
            <div id="funder-logo">
                <a href="http://www.iwt.be">
                    <img title="IWT" src="{{ STATIC_URL }}logos_spion/iwt_logo.gif">
                </a>
            </div>
            <p id="funder-description">
                SPION is a Strategic Basic Research (SBO) project with a social objective, </br>funded by the Flemish Agency for Innovation by Science and Technology (IWT).
            </p>
        </div>
    </section>
</div>


 <section class="analytics" data-sizex="2">
    <div class="titlebar">Spion.You</div>
    <div class="widget-content analytics-wrapper" />
 </section>






</body>
</html>
