<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SPION: Privacy and Security in Online Social Networks</title>

    <meta property="og:image" content="http://spion.me/static/social-preview.png"/>
    <meta property="og:site_name" content="SPION: Privacy and Security in Online Social Networks"/>
    <meta property="og:description"
              content="SPION: Privacy and Security in Online Social Networks."/>
    <meta property="fb:admins" content="1488294875"/>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    {% load compress %}
    {% if COMPRESS_ENABLED %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}style.less">
    {% endcompress %}
    {% else %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    {% endif%}
    <style>
        #fond {
/*             background: url('http://spion.schr.fr/static/background_images/F410-k630-64-8.png'); */
            background: url('{{ STATIC_URL }}{{ BACKGROUND_IMAGE }}');
        }
    </style>

    {% compress js %}
    <script src="{{ STATIC_URL }}jquery.min.js"></script>
    <script src="{{ STATIC_URL }}jquery.masonry.js"></script>
    {% endcompress %}
    <script type="text/javascript">
    $(window).load(function() {
    
    // make external links open in new window
    
    var isExternal = function(href) {
    /*
    isExternal("http://i.liketightpants.net/")
    true
    isExternal("/publications/")
    false
    isExternal("http://spion.me/publications/")
    false
    isExternal("http://localhost:8000/publications/")
    false
    isExternal("http://127.0.0.1:8000/publications/")
    false
    */
        if (href.indexOf("http") === -1 || href.indexOf(document.location.host) !== -1 || href.indexOf("localhost") !== -1 || href.indexOf("127.0.0.1") !== -1 ) {
            return false;
        }
        return true;
    };
    
    $("a[href]").each(
        function() { 
            if (isExternal($(this).attr('href')) ) { 
                $(this).attr('target', '_blank')
            }
        }
    )
    
    // Snap heights:
    
//     var heights = [130, 272, 414, 556, 698, 840, 982, 1124, 1266, 1408, 1550, 1692]
    var heights = new Array();
    var box_height_step = 42;
    var box_vertical_gap = 10;
    for(var i=1; i < 64; i++)
    {
        heights.push((i*box_height_step) + ((i-1)*box_vertical_gap));
    }
    console.log(heights);
    
    $('section').not('.logo').each(function() {
       var old_height = $(this).height();
       for (var i = 0; i < heights.length; i++) {
           if (heights[i] >= old_height) {
               $(this).height(heights[i]); // console.log(old_height, heights[i]);
               break;
           }
       } 
    });
    
    $('.titlebar').each(function(idx, elem){
        var t = $(elem);
        var cl = $('<div class="widget-closer">x</div>');
        t.prepend(cl);
        cl.on('click', function(evt){
            var sec = t.parents('section');
            sec.remove();
            $('body').masonry({
                itemSelector: 'section',
                columnWidth: 100
            })
        });
    });
    
    $('body').masonry({
      itemSelector: 'section',
      columnWidth: 100
    })

    });
    </script>
</head>
<body>

<div id="fond">
&nbsp;
</div>

{% block header %}


  <section class="widget-content header" data-sizex="4">
    <a href="{% url spion_app.views.index %}"><img src="{{ STATIC_URL }}logos/SPIONlogoblack.svg" width="320px"></a>
    <h1 class="tagline">Privacy and Security in Online Social Networks</h1>
  </section>
{% endblock %}

{% block content %}

{% endblock %}

{% include 'visitors.html' %}
{% include 'logos.html' %}

{% block credits %}
{% endblock %}

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "{{ PIWIK_PATH }}".replace('http', 'https') : "{{ PIWIK_PATH }}");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ PIWIK_SITE_ID }});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="{{ PIWIK_PATH }}piwik.php?idsite={{ PIWIK_SITE_ID }}" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>
