<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SPION: Privacy and Security in Online Social Networks</title>

    <meta property="og:image" content="http://spion.me/static/social-preview.png"/>
    <meta property="og:site_name" content="SPION: Privacy and Security in Online Social Networks"/>
    <meta property="og:description"
              content="SPION: Privacy and Security in Online Social Networks."/>
    <meta property="fb:admins" content="1488294875"/>
    {%comment%}
    {% load compress %}
    {%endcomment%}
    {% if COMPRESS_ENABLED %}
    {%comment%}
    {% compress css %}
    {%endcomment%}
    <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}style.less">
    {%comment%}
        {% endcompress %}
    {%endcomment%}
    {% else %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}style.less">
    <script src="{{ STATIC_URL }}less-1.3.0.min.js"></script>
    {% endif%}

    {# {% compress js %} #}
    <script src="static/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
    
    $('.gridster > ul > li').has('img').addClass( 'logo' );
    $('.gridster > ul > li').has('pre').addClass( 'sql' );
    
    });
    </script>
    {# {% endcompress %} #}

</head>
<body>

<div id="fond">
&nbsp;
</div>

{% block header %}


  <div class="widget-content header">
    <img src="static/logos/SPIONlogoblack.svg" width="363px">
  </div>
{% endblock %}

{% block content %}

{% endblock %}

<div id="osp">Design: <a href="http://osp.constantvzw.org/">Open Source Publishing</a></div>

</body>
</html>
