{% extends 'base.html' %}
{% load fs %}
{% load md %}

{% block nav %}
{# The role of the nav is taken over by the introduction #}
{% endblock%}

{% block content %}
<!--<section data-sizex="2">
<div class="titlebar"><a href="{% url spion_app.views.profiles %}">Profiles</a></div>
  <div class="widget-content">
{% for  profile in profiles %}
  <p><a href="{% url spion_app.views.profile profile.id %}">{% if profile.user.get_full_name %} {{profile.user.get_full_name}} {% else %} {{profile.user.username}} {% endif %}</a></p>
{% endfor %}
 </div>
</section>-->

<section class="pitch" data-sizex="6">
<div class="titlebar" style="background-color:white">Project Description</div>
<div class="widget-content" >
{{project.description|md:"large reglo"}}
</div>
</section>

<section class="news" data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.newsitems %}">News</a></div>
<div class="widget-content">
{% for n in news %}
<h2><a href="{% url spion_app.views.newsitem n.id %}">{{n.header}}</a></h2>
{{n.body|fs|md:"large"}}
{% endfor %}
</div>
</section>


{% for w in work_packages %}
<section class="work_package" data-sizex="2" data-sort="{{ forloop.counter0|add:forloop.counter0|add:1 }}"> {# odd numbers #}
<div class="titlebar meaningful">
<a href="{% url spion_app.views.work_packages %}">Work Package</a>
<!-- <a href="{% url spion_app.views.work_package w.id %}">{{ w.title }}</a> -->
</div>
<div class="widget-content">
<h1><a href="{% url spion_app.views.work_package w.id %}">{{ w.title }}</a></h1>

{{ w.description|fs|md:"medium" }}
</div>
</section>
{% endfor %}

{% for p in publications %}
<section class="publication" data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.publications %}">Deliverable</a></div>
<div class="widget-content">
<h2><a href="{% url spion_app.views.publication p.id %}">{{p.title }}</a></h2>
<p class="medium">
{{ p.summary|fs|md:"tiny" }}
</p>
</div>
</section>
{% endfor %}


{% endblock %}

{% block credits %}
<section id="osp" data-sizex="2"><div class="titlebar">Design</div>
<div class="widget-content">
<p class="medium"><a href="http://osp.constantvzw.org/">Open Source Publishing</a></p>
</div>
</section>
{% endblock %}

