{% extends 'base.html' %}
{% block content %}
<section data-row="4" data-col="1" data-sizex="4" data-sizey="1">
  <div class="titlebar"></div>
  <div class="widget-content">
    {% include 'visitors.html' %}
  </div>
</section>

<section data-row="3" data-col="5" data-sizex="4" data-sizey="1">
  <div class="titlebar"></div>
  <div class="widget-content">
    <p>Online Social Networks have become an important part of daily digital interactions for more than half a billion users around the world. The various personal information sharing practices that online social network providers promote have led to their success as innovative social interaction platforms. At the same time, these practices have raised much critique and concerns with respect to privacy and security from different stakeholders.</p>
    
    <h3>Tackling Responsibilization</h3>
    
    <p>Studying and addressing these privacy and security concerns in online social networks is the research challenge that we are undertaking in SPION. Specifically, we plan to tackle the responsibilization of individuals with the task of mitigating privacy and security concerns in online social networks by putting the focus on the responsibilities of service providers and stakeholder organizations. We will explore ways in which the underlying social networking infrastructures and the organizations that run them can be made responsible and accountable for the relevant privacy and security concerns. We will also propose ways to develop and run SNS that are technically more secure and transparent to different stakeholders. The proposals will include mechanisms that fulfill the SNS user communities' privacy needs.</p>
    
    <h3>An Interdisciplinary Approach</h3>
    
    <p>We plan to achieve our objective by approaching our target audience's needs as well as forms of responsibilization from a variety of disciplines. This target audience includes users, communities and organizations in Flanders. We plan to bring the proposed legal, technical, social, educational and economic mechanisms to mitigate these concerns to the attention of different stakeholders of online social networks.</p>
    
    <h3>Supporting Tools</h3>
    
    <p>We plan to develop solutions that facilitate better decision making with respect to the target groups' privacy and security concerns, to mitigate the risks, threats and concerns that are currently manifest in this domain, and, most importantly, create educational tools to raise the awareness of privacy-issues with youngsters. With the dissemination and application of the research results we expect to contribute to increasing awareness about privacy and security problems in online social networks.</p>
    
    <h3>Contact us!</h3>
    
    <p>If you would like to find out more about our research, would like to join us for workshops, or be a part of our user group, please contact us: spion_info@esat.kuleuven.be</p>
  </div>
</section>
{% endblock %}

