{% extends 'base.html' %}
{% block content %}
<section data-row="3" data-col="5" data-sizex="2">
<div class="titlebar"><a href="{% url spion_app.views.profiles %}">Profiles</a></div>
  <div class="widget-content">
{% for  profile in profiles %}
  <p><a href="{% url spion_app.views.profile profile.id %}">{% if profile.user.get_full_name %} {{profile.user.get_full_name}} {% else %} {{profile.user.username}} {% endif %}</a></p>
{% endfor %}
 </div>
</section>

<section data-row="3" data-col="2" data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.newsitems %}">News</a></div>
<div class="widget-content">
{% for n in news %}
<h2><a href="{% url spion_app.views.newsitem n.id %}">{{n.header}}</a></h2>
<p>{{n.body}}</p>
{% endfor %}
</div>
</section>

<section data-row="5" data-col="2" data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.publications %}">Publications</a></div>
<div class="widget-content">
{% for p in publications %}
<h2><a href="{% url spion_app.views.publication p.id %}">{{p.title }}</a></h2>
{% endfor %}
</div>
</section>

<section data-sizex="2">
{% include 'visitors.html' %}
</section>

<section data-sizex="4">
<div class="titlebar">
<a href="{% url spion_app.views.work_packages %}">Workpackages</a>
</div>
<div class="widget-content">
{% for w in work_packages %}
<h2><a href="{% url spion_app.views.work_package w.id %}">{{ w.title }}</a></h2>
{% endfor %}
<p>

</p>
</div>
</section>

{% endblock %}

