            <section class="logo">
                <a href="http://www.kuleuven.be">
                <img title="K. U. Leuven" src="http://www.cosic.esat.kuleuven.be/spion/partner/logo-kuleuven.gif">
                </a>
            </section>
            <section class="logo"><a href="http://www.iwt.be">
                <img title="IWT" src="http://www.cosic.esat.kuleuven.be/spion/partner/iwt_logo.gif">
                </a>
            </section>
            <section class="logo"><a href="http://distrinet.cs.kuleuven.be/">
                <img title="DistriNet" src="http://www.cosic.esat.kuleuven.be/spion/partner/logo_distrinet.png">
                </a>
            </section>
            <section class="logo"><a href="http://dtai.cs.kuleuven.be/">
                <img title="DTAI" src="http://www.cosic.esat.kuleuven.be/spion/partner/DTAI-logo-small.png">
                </a>
            </section>
            <section class="logo"><a href="http://www.law.kuleuven.be/icri/">
                <img title="ICRI" src="http://www.cosic.esat.kuleuven.be/spion/partner/icri_main_txt.png">
                </a>
            </section>
            <section class="logo"><a href="http://www.esat.kuleuven.be/cosic/">
                <img title="COSIC" src="http://www.cosic.esat.kuleuven.be/spion/partner/logo-cosic.gif">
                </a>
            </section>
            <section class="logo"><a href="http://www.onderwijskunde.ugent.be">
                <img title="OWK" src="http://www.cosic.esat.kuleuven.be/spion/partner/aulalabel.jpg" width="170">
                </a>
            </section>
            <section class="logo"><a href="http://www.http://smit.vub.ac.be/">
                <img title="IBBT-SMIT" src="http://www.cosic.esat.kuleuven.be/spion/partner/smallsmallSMITlogo.png" width="170">
                </a>
            </section>
            <section class="logo"><a href="http://www.heinz.cmu.edu/">
                <img title="Heinz College" src="http://www.cosic.esat.kuleuven.be/spion/partner/cmuheinz_logo.gif" width="170">
                </a>
            </section>

