            <section data-sizex="3" class="logo">
                <a href="http://www.kuleuven.be">
                <img title="K. U. Leuven" src="{{ STATIC_URL }}logos_spion/logo-kuleuven.gif">
                </a>
            
            <a href="http://www.iwt.be">
                <img title="IWT" src="{{ STATIC_URL }}logos_spion/iwt_logo.gif">
                </a>
            
            <a href="http://distrinet.cs.kuleuven.be/">
                <img title="DistriNet" src="{{ STATIC_URL }}logos_spion/logo_distrinet.png">
                </a>
            
            <a href="http://dtai.cs.kuleuven.be/">
                <img title="DTAI" src="{{ STATIC_URL }}logos_spion/DTAI-logo-small.png">
                </a>
            
            <a href="http://www.law.kuleuven.be/icri/">
                <img title="ICRI" src="{{ STATIC_URL }}logos_spion/icri_main_txt.png">
                </a>
            
            <a href="http://www.esat.kuleuven.be/cosic/">
                <img title="COSIC" src="{{ STATIC_URL }}logos_spion/logo-cosic.gif">
                </a>
            
            <a href="http://www.onderwijskunde.ugent.be">
                <img title="OWK" src="{{ STATIC_URL }}logos_spion/aulalabel.jpg" width="102">
                </a>
            
            <a href="http://www.http://smit.vub.ac.be/">
                <img title="IBBT-SMIT" src="{{ STATIC_URL }}logos_spion/smallsmallSMITlogo.png" width="102">
                </a>
            
            <a href="http://www.heinz.cmu.edu/">
                <img title="Heinz College" src="{{ STATIC_URL }}logos_spion/cmuheinz_logo.gif" width="102">
                </a>
            </section>

