{% extends 'base.html' %}
{% load md %}
{% load rand %}
{% block content %}

<section data-sizex="5">
  <div class="titlebar">
  {% if user.get_full_name %} {{user.get_full_name}} {% else %} {{user.username}} {% endif %} {% if user.email %}&lt;{{user.email}}&gt;{% endif %}
  </div>
  <div class="widget-content">
  <p>
  {% autoescape off %}
  {{ bio|md }}
  {% endautoescape %}
  </p>
 </div>
</section>

{% for p in publications %}
<section data-sizex="3">
<div class="titlebar">
{{ p.title }}
</div>
<div class="widget-content">
<p>
{% autoescape off %}
{{ p.summary|md }}
{% endautoescape %}
</p>
<a href="{{p.url}}" title="{{p.title}}">Get Document</a>
</div>
</section>
{% endfor %}

<section data-sizex="4">
<div class="titlebar">
Workpackage
</div>
<div class="widget-content">
<h2><a href="{% url spion_app.views.work_package work_package.id %}">{{ work_package.title }}</a></h2>
<p>

</p>
</div>
</section>

{% endblock %}

