{% extends 'base.html' %}
{% load md %}
{% block content %}


<section class="to_mason publication" data-row="1" data-col="1" data-sizex="6">
<div class="titlebar">
{{ publication.pub_type.name }} - {{ publication.publisher }}, {{ publication.published }}
</div>
<div class="widget-content">
<h1 class="title">{{ publication.title }}</h1>
<div class="authors">
{% for a in publication.author_set.all %}
<a href="{%if a.user %}{%url spion.spion_app.views.profile a.user.slug%}{% elif a.url %}{{a.url}}{% else %}#{% endif %}">
{{a.get_full_name}}</a>
{% if not forloop.last%}, {% endif %}


{% endfor %}
</div>
{{ publication.summary|md:"large" }}
</p>
<div class="publication_link"><a href="{{publication.url}}" title="{{publication.title}}">Get Document</a></div>
</div>
</section>

{% endblock %}

