{% extends 'base.html' %}
{% load fs %}
{% load md %}

{% block content %}

{% for p in publications %}
<section class="publication" data-sizex="3">
<div class="titlebar {{p.pub_type|slugify}}"><a href="{% url spion.spion_app.views.publications %}">{{p.pub_type.name}}</a></div>
<div class="widget-content">
<h2><a href="{% url spion.spion_app.views.publication p.slug %}">{{p.title }}</a></h2>
<p class="medium">
{{ p.summary|fs|md:"tiny" }}
</p>
</div>
</section>
{% endfor %}

{% endblock %}

