{% extends 'base.html' %}
{% load md %}
{% load fs %}
{% block content %}


<section class="work_package" data-sizex="6">
<div class="titlebar">
Work Package
</div>
<div class="widget-content">
<h1 class="title">{{ work_package.title }}</h1>

{{ work_package.description|md:"large" }}

</div>
</section>

<section class="research_group" data-sizex="4">
<div class="titlebar">
Research Group
</div>
<div class="widget-content">
    <div class="subtitle">
    <div class="research_group_name">{{ work_package.research_group.short_name }}</div> 
    <span class="organisation_name">{{ work_package.organisation.name }},</span>
    <span class="organisation_location">{{ work_package.organisation.location }}</span>
    </div>
    {{ work_package.research_group.description|md:"medium" }}
</div>
</section>

<section data-sizex="2">
<div class="titlebar"><a href="{% url spion_app.views.profiles %}">Researchers</a></div>
  <div class="widget-content">
{% for researcher in work_package.researchers.all %}
  <p class="researcher-link" ><a href="{% url spion_app.views.profile researcher.id %}">{% if researcher.user.get_full_name %} {{researcher.user.get_full_name}} {% else %} {{researcher.user.username}} {% endif %}</a></p>
{% endfor %}
 </div>
</section>

{% for p in publications %}
<section class="publication" data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.publications %}">Publication</a> - {{ p.pub_type.name }}</div>
<div class="widget-content">
    <h2 class="publication-link"><a href="{% url spion_app.views.publication p.id %}">{{p.title }}</a></h2>
    <p class="medium">
    {{ p.summary|fs }}
    </p>
</div>
</section>
{% endfor %}

{% endblock %}

