{% extends 'base.html' %}
{% load md %}
{% block content %}


<section data-sizex="6">
<div class="titlebar">
{{ work_package.research_group.short_name }} {{ work_package.organisation.name }} {{ work_package.organisation.location }}
</div>
<div class="widget-content">
<h1>{{ work_package.title }}</h1>
<p>
{{ work_package.description }}
</p>
</div>
</section>

<section data-sizex="2">
<div class="titlebar"><a href="{% url spion_app.views.profiles %}">Researchers</a></div>
  <div class="widget-content">
{% for researcher in work_package.researchers.all %}
  <p><a href="{% url spion_app.views.profile researcher.id %}">{% if researcher.user.get_full_name %} {{researcher.user.get_full_name}} {% else %} {{researcher.user.username}} {% endif %}</a></p>
{% endfor %}
 </div>
</section>

{% comment %}
Note: currently a publication doesn not allow you to select the associated work package.
If this is needed (&amp; implemented) we could add something like this to the template.

<section data-sizex="3">
<div class="titlebar"><a href="{% url spion_app.views.publications %}">Publications</a></div>
<div class="widget-content">
{% for p in work_package.publications.all %}
<h2><a href="{% url spion_app.views.publication p.id %}">{{p.title }}</a></h2>
{% endfor %}
</div>
</section>
{% endcomment %}

{% endblock %}

