/* CSS declarations go here */

body {
    font-family: 'League Gothic';
}

#fond {
    position: absolute;
    left: 0;
    top: 0;
    width: 1015px;
    height: 1434px;
    background-color: pink;
}

.extract {
	font-size:25px;
	font-style:italic;
}

.title {
	font-size:60px;
	text-align:right;
	font-weight:bold;
}

.error-message {
	color:red;
	font-size:40px;
	padding-top: 20px;
	
}

.panel {
	padding-top: 10px;
	font-size:30px;
	font-style:italic;
	font-weight:bold;
}

li {
	margin-left:20px;
}

.sources {
	font-size:6px;
	text-align: right;
	margin-top: 15px;
}

#graph { 
position: relative; left: 1180px; top: 333px;
}
#graph-2 {
	position: relative; left: 734px; top: -312px;
}
#graph-3 {
	position: relative; left: 1503px; top: -394px;
}
#conference-name {
	position: relative; left: 1539px; top: 130px;
}
#conference-dates {
	position: relative; left: 1577px; top: 106px;
}
#facebook-extract {
	position: relative; left: 1290px; top: -1030px;
}
#americans-extract {
	position: relative; left: 994px; top: -1304px;
}
#emsoc-extract1 {
	position: relative; left: 931px; top: -1371px;
}
#emsoc-extract2 {
	position: relative; left: 1214px; top: -1657px;
}
#website {
	position: relative; left: 1833px; top: -3047px;
}
#panel1{
	position: relative; left: 643px; top: -1897px;
}
#error-panel1{
	position: relative; left: 763px; top: -2156px;
}
#panel2{
	position: relative; left: 1820px; top: -3041px;	
}
#error-panel2{
	position: relative; left: 1853px; top: -3476px;
}
#panel3{
	position: relative; left: 883px; top: -4582px
}
#error-panel3{
	position: relative; left: 727px; top: -4816px;	
}
#panel4{
	position: relative; left: 1090px; top: -4356px;
}
#error-panel4{
	position: relative; left: 1144px; top: -4600px;
}
#panel5{
	position: relative; left: 680px; top: -4920px;
}
#error-panel5{
	position: relative; left: 730px; top: -5263px;	
}
#panel6{
	position: relative; left: 1467px; top: -5829px;
}
#error-panel6{
	position: relative; left: 1490px; top: -6078px;
}
