@border-colour: #ccc;

.widget {
    width: 256px;
    min-height: 256px;
    padding: 20px;
    background-color: white;
}

.gridster li, .widget {
    .box-sizing(border-box);
//    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
}

.panel{
	background-color: #FF3481;
	color: white;
}

.panel-number:before{
	content:"panel ";
}

.sql {
    width: inherit !important;
}

.gridster {    
    li {
        list-style: none;
    }
    .titlebar {
        height: 16px;
        border-bottom: 1px solid @border-colour;
        i {
            float: right;
        }        
    }
    .widget-content {
        padding: 8px;
    }
    li.logo {
        background: transparent;
        border: none;
        .titlebar {
            height: 0;
            border: none;
        }
    }
}


.widget-error {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 256px;
    min-height: 256px;
    padding: 20px;
    background-color: transparant;
}


