@spion-pink: #ff3481;
@spion-comp: #00BBFF;
@spion-orange: #ff8300;

@import "mixins";
@import "font-awesome";
@import "typo";
@import "widgets";

.gridster {
    width: 1020px;
}

#fond {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
//    background-size: 40px 40px;
}

#site-header{
    margin:0;
    padding:12px;
    position:fixed;
    top:0;
    left:0;
    z-index:999999;
    height:52px;
    width:100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    border-bottom:1px solid #ddd; //@spion-pink;
    
    #logo-box{
        float:left;
    }
    
    .tagline{
        float:left;
        padding-left:18px;
        padding-top: 4px;
/*         line-height:52px; */
        div{
            font-size:18px;
            vertical-align:bottom;
            height:24px;
        }
    }
    
    #site-navigation{
        position:absolute;
        right:238px;
        bottom:0;
    }
}

#content-wrapper{
    /*     position:absolute; */
    width:84%;
    margin:86px 0 34px 0;
}

#analytics-wrapper{
    position:fixed;
    padding:6px 2px 0 6px;
    top:0px;
    right:0;
    height:100%;
    width:200px;
    background-color:#000;
    overflow:hidden;
    border-left:1px solid #ccc;
    .analytics-titlebar{
        font-family: 'RegloBold';
        color:@spion-pink;
    }
    .widget-content {
        font-family: PropCourierSans;
    }
    p{
        margin-top: 3pt;
        line-height:10pt;
        font-size: 8pt;
        color:#ccc;
        font-weight:bold;
    }
    &.analytics-self{
        p{
            font-weight:bold;
        }
    }
}


