@spion-pink: #ff3481;
@spion-comp: #00BBFF;
@spion-orange: #ff8300;

@import "mixins";
@import "font-awesome";
@import "typo";
@import "widgets";

.gridster {
    width: 1020px;
}

#fond {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
//    background-size: 40px 40px;
}

