@spion-pink: #ff3481;
@spion-comp: #00BBFF;
@spion-orange: #ff8300;

@import "mixins";
@import "font-awesome";
@import "typo";
@import "widgets";

.gridster {
    width: 1020px;
}

#fond {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
//    background-size: 40px 40px;
}

#site-header{
    
    #logo-box{
        float:left;
        a{
            display:block;
        }
    }
}

#pub_menu{
    background-color:white;
/*     color:white; */
    border:1px solid @border-colour;
    width:190px;
    padding:8px 0;
    #pub_menu_label{
        font-family: 'NoticiaText';
        font-family: monospace;
        font-style: italic;
        font-size:9pt;
        padding:0 0 6px 8px;
    }
    .filter_type_box{
        font-family:'RegloBold';
        font-size:11pt;
        padding:2px 8px;
        .filter_type{
            cursor:pointer;
        }
    }
}

#analytics-wrapper{
    height: 640px;
    background-color: #000;
    .analytics-titlebar{
        font-family: 'RegloBold';
        color:@spion-pink;
    }
    .widget-content {
        font-family: PropCourierSans;
    }
    p{
        margin-top: 3pt;
        line-height:10pt;
        font-size: 8pt;
        color:#ccc;
        font-weight:bold;
    }
    .analytics-self{
        p{
            font-weight: bold;
            font-style: italic;
        }
        .you {
           border-bottom: 1px dotted @spion-pink;
        }
    }
}

#content-wrapper {
    top: 156px;
}

