* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'League Gothic';
  src: url("fonts/League_Gothic-webfont.eot");
  src: url("fonts/League_Gothic-webfont.eot?iefix") format("eot"),
       url("fonts/League_Gothic-webfont.woff") format("woff"),
       url("fonts/League_Gothic-webfont.ttf") format("truetype"),
       url("fonts/League_Gothic-webfont.svg#webfontbDMP4rcs") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'league-stroke'; 
    src: url('fonts/leaguegothicstroke-webfont.eot');
    src: url('fonts/leaguegothicstroke-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothicstroke-webfont.woff') format('woff'),
         url('fonts/leaguegothicstroke-webfont.ttf') format('truetype'),
         url('fonts/leaguegothicstroke-webfont.svg#league_gothic_strokeregular') format('svg');
 }

@font-face {
  font-family: 'league-stroke-thin';
  src: url("fonts/league-stroke-thin.ttf");
}

@font-face {
    font-family: 'RegloBold';
    src: url('fonts/reglo-bold-webfont.eot');
    src: url('fonts/reglo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/reglo-bold-webfont.woff') format('woff'),
         url('fonts/reglo-bold-webfont.ttf') format('truetype'),
         url('fonts/reglo-bold-webfont.svg#RegloBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Allan';
    src: url('fonts/allan-bold-webfont.eot');
    src: url('fonts/allan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/allan-bold-webfont.woff') format('woff'),
         url('fonts/allan-bold-webfont.ttf') format('truetype'),
         url('fonts/allan-bold-webfont.svg#allanbold') format('svg');
}

@font-face {
  font-family: 'AllanMono';
    src: url('fonts/allanmono-webfont.eot');
    src: url('fonts/allanmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/allanmono-webfont.woff') format('woff'),
         url('fonts/allanmono-webfont.ttf') format('truetype'),
         url('fonts/allanmono-webfont.svg#allan_monobold') format('svg');
}

@font-face {
  font-family: 'PropCourierSans';
  src: url('fonts/propcouriersans-webfont.eot');
  src: url('fonts/propcouriersans-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/propcouriersans-webfont.woff') format('woff'),
       url('fonts/propcouriersans-webfont.ttf') format('truetype'),
       url('fonts/propcouriersans-webfont.svg#PropCourierSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'PropCourierSans';
    src: url('fonts/propcouriersans-bold-webfont.eot');
    src: url('fonts/propcouriersans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/propcouriersans-bold-webfont.woff') format('woff'),
         url('fonts/propcouriersans-bold-webfont.ttf') format('truetype'),
         url('fonts/propcouriersans-bold-webfont.svg#PropCourierSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NoticiaText';
    src:  url('fonts/NoticiaText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src:  url('fonts/NoticiaText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NoticiaText';
    src:  url('fonts/NoticiaText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NoticiaText';
    src:  url('fonts/NoticiaText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'NoticiaText'; // Vera Sans, Verdana;

}

img a { 
  border: none;
}

h1, h2 {
//    font-family: 'League Gothic';
//    font-family: 'league-stroke';
    font-family: 'RegloBold';
    text-transform: 'uppercase';
    font-weight: normal;
//    color: @spion-pink;
    text-shadow: 1px 1px @spion-pink;
}

h2 {
//    font-family: 'league-stroke-thin';
    font-family: 'RegloBold';
    color: @spion-pink;//@spion-pink;
    text-shadow: 1px 1px black;
}

.reglo{
    font-family:RegloBold;
}

/*h1.tagline{
    font-size:13px;
}*/

.colorfont-overlay {
    display: none;
}


.extract {
	font-size:25px;
	font-style:italic;
}

h1 {
	font-size:20px;
/* 	text-align:right; */
//	font-weight:bold;
	text-transform:uppercase;
}

h2 {
	font-size: 16px;
	text-transform:uppercase;
/* 	padding-left:12px; */
/* 	text-indent:-7px; */
}

h1 + h2 {
/*   text-align: right; */
}

/* h2 + p {
    position: absolute;
    bottom: 8px;
} */

p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 20px;
/*     margin-left: 12px; */
}
p.tiny{
    font-size: 12px;
    line-height: 15px;
}
p.medium {
    font-size: 14px;
    line-height: 17px;
}

p.large {
    font-size: 20px;
    line-height: 24px;
}

p.huge, p.huge span.label {
    font-size: 30px;
    line-height: 36px;
}

/*ul.analytics p {
    font-size: 14px;
    line-height: 18px;
    margin: 2px 0;
}*/

p.hyperlinks {
    font-size: 22px;
}
a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}

address {
    margin-top: 8px;
    margin-left: 18px;
    font-size: 16px;
}

.header p {
    text-align: right;
}

pre {
    font-size: 14px;
    font-family: AllanMono;
    color: white;
}

pre.organisations {
    font-size: 12px;
}

.panel {
    font-size: 14px;
    font-family: AllanMono;
    color: white;

}

li.sql .widget-content {
    background-color: @spion-pink;
}

.titlebar {
    font-family: 'RegloBold';
    font-size: 12px;
    line-height: 20px;
    padding-left:6px;
}

span.label {
    display: inline-block;
    .border-radius(4px 4px 4px 4px);
    padding: 0 8px;
    margin: 0 -2px;
    font-family: 'RegloBold';
    font-size: 12px;
    line-height: 19px;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
}

span.label.selected{
    background-color: @spion-pink;
}

span.label:hover{
    background-color:@spion-pink;
}

span.researcher {
    background-color:white;
}

span.work_package {
    background-color:white;
}

span.research_group {
    background-color:white;
    color:white;
}

span.news {
    background-color:white;
}

span.publication {
    background-color:white;
}

span.advisor{
    background-color:white;
}

span.about{
    background-color:white;
}



